*{
    background-color: aliceblue;
}
label,input,select,textarea{
    width: 100%;
    margin: .5rem;
    padding: .5rem;
    border-radius: 0.5rem;
    box-sizing: border-box;

}
.card{
     box-shadow: 0 4px 8px 0;
     transition: 0.3s;
     padding: 5rem;
     margin: 5rem;


}
